<div class="flex flex-col mx-auto gap-y-14 justify-center items-center mt-20 overflow-x-hidden">
  <ol class="steps steps-vertical lg:steps-horizontal lg:ml-60">
    <li class="step">
      <div class="step-circle bg-indigo-100">1</div>
      <h3 class="font-medium">Login</h3>
    </li>
    <li class="step">
      <div class="step-circle bg-indigo-100 ">2</div>
      <h3 class="font-medium">Solve the Paper</h3>
    </li>
    <li class="step">
      <div class="step-circle bg-indigo-100">3</div>
      <h3 class="font-medium">Submit</h3>
    </li>
  </ol>
  <div class="flex justify-center items-center flex-col">
    <div class="mt-5 shadow-lg rounded shadow-indigo-300 mb-10 p-20">
      <%= turbo_frame_tag "login" do %>
        <%= render 'sessions/form' %>
      <% end %>
    </div>
  </div>
</div>
