<div class="flex justify-between items-center">
  <h1 class="text-6xl text-center"><%= @paper.title %></h1>
  <% if current_user && current_user.admin? %>
    <%= link_to "Add Question", new_paper_question_path(@paper),data: {
      turbo_frame: "new-question"
    } ,class: "btn btn-ghost btn-sm bg-indigo-500 hover:bg-indigo-700 text-white mr-2" %>
  <% end %>
</div>
<div class="flex w-full overflow-x-auto mt-10">
  <table class="table-zebra table">
    <thead>
      <tr>
        <th class="font-bold">Qno.</th>
        <th class="font-bold">Question</th>
        <th class="font-bold">Choice-1</th>
        <th class="font-bold">Choice-2</th>
        <th class="font-bold">Choice-3</th>
        <th class="font-bold">Choice-4</th>
        <th class="font-bold">Answer</th>
      </tr>
    </thead>
    <tbody id="questions">
      <% @paper.questions.each_with_index do |question,index| %>
        <%= render 'questions/question', question:question,index: index+1 %>
      <% end %>
    </tbody>
  </table>
</div>
<%= turbo_frame_tag "new-question" do %>
<% end %>
