<% if flash.any? %>
  <div id="flash" class="fixed p-3 bottom-0 right-0 z-50 animate-scale-in dark:text-white" data-controller="flash">
    <% flash.each do |key, value| %>
      <div class="alert dark:bg-slate-950 dark:text-white <%= flash_message(key.to_sym) %> max-w-sm">
        <div class="flex items-center bg-slate-100 p-4 rounded-full dark:bg-slate-800 dark:text-white">
          <i class="material-icons">info</i>
        </div>
        <div class="flex w-full justify-between">
          <div class="flex flex-col">
            <span class="font-bold"><%= key.upcase %></span>
            <span class="text-content2 font-semibold lg:text-[17px] dark:text-white text-[15px]"><%= value %></span>
          </div>
          <svg width="30" height="30" class="cursor-pointer" data-flash-target="close" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3007 5.71C17.9107 5.32 17.2807 5.32 16.8907 5.71L12.0007 10.59L7.1107 5.7C6.7207 5.31 6.0907 5.31 5.7007 5.7C5.3107 6.09 5.3107 6.72 5.7007 7.11L10.5907 12L5.7007 16.89C5.3107 17.28 5.3107 17.91 5.7007 18.3C6.0907 18.69 6.7207 18.69 7.1107 18.3L12.0007 13.41L16.8907 18.3C17.2807 18.69 17.9107 18.69 18.3007 18.3C18.6907 17.91 18.6907 17.28 18.3007 16.89L13.4107 12L18.3007 7.11C18.6807 6.73 18.6807 6.09 18.3007 5.71Z" fill="#E92C2C" />
          </svg>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
